<h1>New Address</h1>

<%= form_with model: @address, url: [@restaurant, @address] do |form| %>
  Street Address: <%= form.text_field :street_address %><br>
  Street Address Unit: <%= form.text_field :street_address_unit %><br>
  City: <%= form.text_field :city %><br>
  ZipCode: <%= form.text_field :zipcode %><br>
  State: <%= form.text_field :state %><br>
  Phone Number: <%= form.text_field :phone_number %><br>
  Country: <%= form.text_field :country %><br>
  <%= form.submit %>
<% end %>
